* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: #8f8f8f;
}
.boxForm {
	position: relative;
	display: flex;
	background: #fff;
	min-width: 210px;
	width: 100%;
	max-width: 480px;
	margin: 0 20px;
	padding: 30px;
	border-radius: 10px;
	form {
		display: flex;
		flex-direction: column;
		width: 100%;
		label {
			position: relative;
			padding-bottom: 20px;
			input {
				border-radius: 4px;
				border: solid 1px #c6c6c6;
				height: 40px;
				width: 100%;
				padding: 5px 10px 6px 10px;
				font-size: 16px;
				z-index: 1;
			}
			.formErr {
				text-align: center;
				font-size: 14px;
				width: 100%;
				bottom: 3px;
				left: 0;
			}
		}

		#btn-submit {
			padding: 10px 14px;
			width: 100%;
			align-self: center;
			cursor: pointer;
			text-align: center;
			background-color: #2770f1;
			border-radius: 5px;
			color: #fff;
			&:hover {
				background-color: #2362cf;
			}
		}
	}
	.statusSend {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: #fff;

		border-radius: 5px;
		opacity: 0;
		visibility: hidden;
		z-index: 5;
		/* filter: blur(10px); */
	}
	.statusSucces {
		-webkit-box-shadow: 0px 5px 100px 2px #2770f1 inset;
		-moz-box-shadow: 0px 5px 100px 2px #2770f1 inset;
		box-shadow: 0px 5px 100px 2px #2770f1 inset;
	}
	.statusErr {
		-webkit-box-shadow: 0px 5px 100px 2px #f12753 inset;
		-moz-box-shadow: 0px 5px 100px 2px #f12753 inset;
		box-shadow: 0px 5px 100px 2px #f12753 inset;
	}
}
